<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Pilot Interview </title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{{ url_for('static',filename='img/favicon.png') }}" rel="icon">
  <link href="{{ url_for('static',filename='img/apple-touch-icon.png') }}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{ url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static',filename='vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{ url_for('static',filename='css/style.css') }}" rel="stylesheet">

</head>

<body>

  <main id="main">
    <section id="contact" class="contact">
      <div class="container">

		<div class="section-generate">
          <form method="post" role="form" class="php-email-form" id="myFormName" onsubmit="return false">
			<div style="display: flex; justify-content: center;">
				<div class="form-group col-md-3 mt-3 mt-md-0" style="display: flex; align-items: center;">
				  <label for="pages" style="padding-right: 1em">Pages:</label>
				  <input type="text" class="form-control" name="pages" id="pages" required value="1-1">
				  <div class="text-center" style="padding-left: 1em"><button type="submit" onclick="generateQuestions()">Generate</button></div>
				</div>
			</div>			
		  </form>
        </div>

        <div class="row" style="min-height: 65vh;">
          <div class="col-lg-12 mt-5 mt-lg-0 d-flex align-items-stretch">
            <form role="form" class="php-email-form" onsubmit="return false">
                <div id="loadingForm" style="height: 100%; align-content: center;">
                    <div class="text-center">
                        <h2>Loading...</h2>
                    </div>
                </div>
                <div id="showAnswerForm" style="height: 100%;">
                    <div style="display: flex; justify-content: space-evenly; align-items: baseline;">
                      <div class="social-links text-center" id="qPrev" onclick="prevQuestion()">
                        <a href="#"><i class="bi bi-arrow-bar-left"></i></a>
                      </div>
                      <div class="text-center">
                          <p id="qNumber"></p>
                      </div>
                      <div class="social-links text-center" id="qNext" onclick="nextQuestion()">
                        <a href="#"><i class="bi bi-arrow-bar-right"></i></a>
                      </div>
                    </div>
                    <div style="height: inherit; padding-top: 3em; display: flex; flex-direction: column; justify-content: space-evenly;">
                        <div class="text-center">
                            <h3 id="questionText" style="font-weight: bold;">Your message has been sent. Thank you!</h3>
                        </div>
                        <div class="text-center" id="answerBtn"><button type="submit" onclick="showAnswer()">Show Answer</button></div>
                        <div class="text-center" id="answerContainer" style="display: none;">
                            <h3 id="answerText">This is the answer</h3>
                        </div>
                    </div>
                </div>
            </form>
            
          </div>

        </div>

      </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/maundy-free-coming-soon-bootstrap-theme/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End #footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  <script
    src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
    crossorigin="anonymous"></script>

  <script type="text/javascript">
    var generatedQuestions = [];
    var currentQNumber = 0;
    var totalQuestions = 0;
    
    generateQuestions();

    function isValidRange(){
      var pages = $("#pages").val();
      pages = pages.replace(/\s/g, '');
      if(!/^\d*?\-?\d*$/gi.test(pages)){
        alert("Error: Given page range incorrect format! Example range: 1-10");
        return false;
      }else{
        var pageArr = pages.split("-");
        if(pageArr[0] < 1 || pageArr[1] > 261){
          alert("Error: Given page range out of bounds! Entire range: 1-261");
          return false;
        }
      }

      return true;
    }

    function generateQuestions(){
        if(!isValidRange()) return;
        generatedQuestions = [];
        currentQNumber = 0;
        totalQuestions = 0
        $('#qNext').removeClass("disabled");
        if(currentQNumber < 1)
          $('#qPrev').addClass("disabled");

        $('#showAnswerForm').hide();
        $("#answerContainer").hide();
        $('#loadingForm').show();

        $.ajax({
            type: 'post',
            url: '/',
            data: $('#myFormName').serialize(),
            success: function (questions) {
                generatedQuestions = generatedQuestions.concat(questions);
                totalQuestions = generatedQuestions.length;
                $('#qNumber').text(`${currentQNumber + 1} of ${totalQuestions} questions`);
                $('#questionText').text(`${Object.keys(generatedQuestions[currentQNumber])[0]}`);
                $('#showAnswerForm').show();
                $("#answerContainer").hide();
                $('#loadingForm').hide();
            }
        });
    }

    function prevQuestion(){
      if(currentQNumber == 0) return;
      currentQNumber--;
      if(currentQNumber < 1)
        $('#qPrev').addClass("disabled");
      if(currentQNumber < generatedQuestions.length){
        $('#qNext').removeClass("disabled");
        $('#qNumber').text(`${currentQNumber + 1} of ${totalQuestions} questions`);
        $("#answerContainer").hide();
        $('#questionText').text(`${Object.keys(generatedQuestions[currentQNumber])[0]}`);
      }
    }

    function nextQuestion(){
      if(currentQNumber == generatedQuestions.length - 1) return;
      currentQNumber++;
      if(currentQNumber > 0)
        $('#qPrev').removeClass("disabled");
      if(currentQNumber >= generatedQuestions.length - 1)
        $('#qNext').addClass("disabled");
      if(currentQNumber < generatedQuestions.length){
        $('#qNumber').text(`${currentQNumber + 1} of ${totalQuestions} questions`);
        $("#answerContainer").hide();
        $('#questionText').text(`${Object.keys(generatedQuestions[currentQNumber])[0]}`);
      }
    }

    function showAnswer(){
        $('#answerText').text(`${Object.values(generatedQuestions[currentQNumber])[0]}`);
        $("#answerContainer").show();
    }
  </script>
</body>

</html>